* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
nav {
    display: flex;
    background-color: white;
    font-family: sans-serif;
    font-size: 12px;
    height: 15vh;
   
}
.logoBox {
    flex: 1.5;
}
.logo {
    width: 50px;
    height: 35px;
    float: right;
    margin-right: 15%;
    font-weight: bolder;
}
.menuBox {
    flex: 4.5;
    padding-left: 10%;
}
.menuBox ul {
    display: flex;
    list-style: none;
}
.menuBox ul li {
    width: 100px;
    text-align: center;
    margin: 6px;
    padding: 10px;  
}
.menuBox ul li a {
    text-decoration: none;
    color: #000;
}
.active, .menuBox ul li:hover {
 
    border-radius: 3px;
}

.menuBox ul li:hover .submenu {
    display: block;
    position: absolute;
    top: 50px;
    margin-left: 25px;
}
.menuBox ul li a{
    color: #145da0;
      font-weight: bold;
    
}
.menuBox ul li:hover .submenu ul {
    display: block;
}

.menuBox ul li:hover .submenu ul li:hover .submenu2 {
    display: block;
    position: absolute;
    margin-left: 80px;
}
.menuButton {
    position: absolute;
    right: 15px;
    top: 8px;
}
#menuBtn {
    display: none;
    width: 80px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 3px;
}

/* section top styling */

.tops{
height: 40px;
background-color: rgba(255, 0, 0, 0.775);
}

.tops h1 a{
text-decoration: none;
color: white;

}
.tops h1 a:hover{
    color: #145da0;
}

.tops h1{
    text-align: center;
    padding: 5px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.tops-one{
height: 400px;
background-color: rgb(245, 245, 245);
display: flex;
width: 100%;
}
.tops-boxone{
   width: 40%;
 float: left;
 margin: 5%  70px ;
}

.tops-boxtwo{
   float: right;
   width: 40%;
   margin-top: 40px;
 }
 .tops-boxtwo-text{
    padding: 24px 20px 20px 20px;
 }
 .text{
     color: black;
     line-height: 1.5em;
     padding: 7px;
     font-weight: lighter;
     font-size: 16px;
 }
 .tops-boxtwo-text span{
    color: #145da0;
    text-decoration-color: rgb( 0, 0, 0);
    font-weight: bolder;
    font-size: 22px;
 }

 /* section middles */
#middles{
    height: 55vh;
    display: block;
    

}
.middles-group{
    height: 55vh;
    margin: 0px 30px;
    display: block;
    text-align: center;
}

.group-one{
    display: block;
    line-height: 1.5rem;
}
.group-one h1{
    padding: 10px;
    color: #145da0;
font-size: 30px;
}
    

/* banner styling */
.banner{
    background-repeat: no-repeat;
    background-size: cover;
}



/* notes */


.note-all{
height: 90vh;
margin: 0px 8%;
}
.note-all p{
    padding: 10px;
}
.note-all img{
    padding-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin-left: 200px;
    text-align: center;
    border-radius: 50%;
}



/* contact */
.contact{
    border: 2px solid red;
    height: 80vh;
    background-color: lightgray;
}
.contact-all{
border: 2px solid blue;
margin: 30px  30px 0px 30px;
height: 70vh;
}
.contact-div{
border: 2px solid rgb(20, 20, 22);
height: 70vh;
display: block;

}
.contact-one{
border: 2px solid red;
height: 20vh;
margin-top: 15px;
display: flex;
}

.contact-one_one{
flex: 2;
border: 2px solid blue;

}

.contact-one_two{
flex: 2;
border: 2px solid rgb(60, 230, 45);

}
.contact-one_two p{
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 5px;
color: #145da0;
font-weight: bold;

}

.contact-one_two input{
margin-top: 5px;
width: 70%;
padding: 5px;
border: none;
outline: none;
}
::placeholder{
    font-size: 8px;
    color: red;
}
button{
    width: 90px;
    padding: 5px;
    border: none;
outline: none;
color: red;
}
.contact-one_three{
flex: 2;
border: 2px solid rgb(37, 175, 157);

}
.contact-two{
border: 2px solid red;
height: 20vh;
margin-top: 15px;
}
.contact-three{
 border: 2px solid red;
 height: 20vh;
 margin-top: 15px;
 }


























/*  -------------------------MEDIA QUERY SECTION-------------- */
@media (max-width: 850px) {
    .logo {
        float: left;
        margin-left: 10%;
       
    }
    .logo img{
        height: 60px;
    }
    .menuBox {
        display: none;
        flex: 4.5;
        padding-left: 10%;
    }
    .menuBox ul {
        display: block;
        list-style: none;
        padding-top: 70px;

    }
    .menuBox ul li {
        background-color: rgba(255, 255, 255, 0.912);
        width: 100%;
        margin: 2px;
        padding: 10px;
        font-size: 14px;
       
    
    }
   
    .menuBox ul li:hover .submenu {
        margin-left: 75px;
        top: 100px;
        
   
    }
    .hide {
        display: block;
    }
    #menuBtn {
        display: block;
        width: 80px;
        height: 35px;
        background-color: red;
        border: none;
        border-radius: 3px;
        outline: none;
    }
   
    /* tops */
    
.tops{
  display: block;
  height: 50px;
    }
    .tops h1{
        font-size: 16px;
        margin: 5px 0px;
        word-spacing: normal;
    }
    .tops h1 a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        
        }
        .tops h1 a:hover{
            color: red;
        }
    
    .tops-one{
    display: block;
    width: 100%;
    margin: 8px 0px 0px 0px ; 
    padding: 0px;
    height: 350px;
    }
    .tops-boxone{
     width: 100%;
     margin: 0px;
     padding: 0px;
    }
    
    .tops-boxtwo{
        display: block;
        width: 100%;
        margin: 5px 0px 90px 0px ; 
     }
     .tops-boxtwo-text{
     padding-top: 0px;
     margin-top: 30px;
     
     text-align: left;
     }
     .text{
        font-size: 12px; 
     }
     .tops-boxtwo-text span{
        font-size: 16px;
        font-weight: bold;
     }
    
    /* middleboxes */
    
     #middles{
         position: absolute;
         padding: 0px;
         bottom: 0px;
        top: 670px;
        right: 0px;
        left: 0px;
        height: 300vh;
     }
     .middles-group{
        margin-top:70px;
        display: block;
        height: 60vh;
     }

     .group-one{
        display: block;
        line-height: 1.5rem;
        font-size: 13px;
    }
    .group-one h1{
        padding: 5px;
        font-size: 16px;
        color: #145da0;
    }
    
    
/* banner */
.banner {
    position: absolute;
    top: 1190px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

/* notes */




#notes{
    /* border: 2px solid red; */
    }
    .note-all{
   
    position: absolute;
    top: 1250px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    
    }
    .note-all p{
        margin-top: 270px;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: lighter;
        font-style: normal;
       
    }
    .note-all img{
      position: relative;
      width: 100%;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 20px;
   margin: 0px;
   padding: 0px;
      
    }

    .note-all .p-sec{
        margin-top: 30px; 
        font-size: 16px;
        line-height: 1.5em;
        font-weight: lighter;
        
    }



    /* contact */
    .contact{
        border: 5px solid red;
        height: 80vh;
        background-color: lightgray;
        position: absolute;
        top: 2600px;
        width: 100%;
    }
    .contact-all{
    border: 2px solid blue;
    margin: 30px  30px 0px 30px;
    height: 70vh;
    }
    .contact-div{
    border: 2px solid rgb(20, 20, 22);
    height: 70vh;
    padding-top: 15px;
    
    }
    .contact-one{
    border: 2px solid red;
    height: 20vh;
    margin-top: 0px;
    }
    .contact-one_one{

    }
    .contact-one_two{

    }
    .contact-one_three{

    }
    
    .contact-two{
    border: 2px solid rgb(19, 172, 27);
    height: 20vh;
    margin-top: 0px;
    }
    .contact-three{
     border: 2px solid red;
     height: 20vh;
     margin-top: 0px;
     }
    
       







}